<br><br><br>
<div class="container-fluid">

 <div>
    <p class="First-letter-style">Welcome to a Professional Health Care</p>
 </div>
</div>

 <div class="background-my-image">
  
   <div class="container image-fluid myimages">
      <div class="childDiv">
      <h1 id="myheading">Welcome to Your Health Center</h1>
   </div>
      <br><br>
      <div class="childDiv">
      <p id="myparagraph">managing doctor appointments through a user-friendly web interface. Using Angular and Firebase together enables rapid development and deployment, with robust features like real-time data updates, user authentication, and notification services.
         Using Angular and Firebase together enables rapid development and deployment, with robust features like real-time data updates,
   </p>
   <button class="btn btn-primary" (click)="navigate()">Hospital Appointmenet</button>
   </div>
   </div>
 </div>
 <br><br>
 <h1>OUR Doctors</h1>
 <br><br>
<div class="container flex-image">
   
   <div class="container1">
      <img src="/assets/DashBoard/team-image1.jpg" alt="">
     
   </div>
   <div class="container1">
      <img src="/assets/DashBoard/team-image2.jpg" alt="">
     
   </div>
   <div class="container1">
      <img src="/assets/DashBoard/team-image3.jpg" alt="">
    
   </div>
</div>
<br><br>

<div class="container">
   <div class="row">
     <div class="col">
       <h2>Doctors<br>Advertisment</h2>
     </div>
     <div class="col">
     <h2>online services</h2>
     </div>
     <div class="col">
       <h2>Best Doctors</h2>
     </div>
   </div>
 </div>
 <br><br>
 <div class="container">
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quae? Nemo accusamus provident quae ratione, voluptate perspiciatis aliquam earum unde voluptatum, odit perferendis delectus, dolores maxime mollitia ullam. Accusamus totam laboriosam praesentium debitis ipsum doloremque, incidunt sint exercitationem ex adipisci corporis distinctio, reiciendis suscipit minus dolor voluptates in ipsa excepturi!
   </p>
</div>

<footer class="myFooterSection">
   <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li>Home</li>
            <li>Contect</li>
            <li>Section</li>
            <li>appoinetment list</li>
          </ul>
        </div>
        <div class="col">
          <ul>
          <li>Rate of the Hospital</li>
          <li>Magements</li>
          <li>+9100000000</li>
          <li>Care center</li>
         </ul>
        </div>
        <div class="col">
          <ul>
            <li>Best Health care</li>
            <li>Online instractions</li>
            <li>Advantages</li>
            <li>Dotor Advertisment</li>
          </ul>
        </div>
      </div>
    </div>
</footer>






